.menu {
  justify-content: center;
  gap: 5px;
}

.menu span {
  margin: 0 1rem;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  font-size: large;
}

.menu span:hover {
  transition: all 100ms ease-in-out;
  text-shadow: 0 0 10px white;
}

.menu a {
  text-decoration: none;
}
