.calcBody {
  background-color: darkslategray;
  width: 350px;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  box-shadow: 0 0 10px 0 rgb(179, 170, 170) inset, 0 0 10px rgb(176, 225, 248);

}

.title  h3 {
  font-family: cursive;
  font-size: xx-large;
  color: white;
  text-align: center;
}

.screen > input {
  padding: 0.2rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  font-weight: bolder;
  font-size: 40px;
  text-align: right;
  overflow: hidden;
  border: none;
  border-radius: 0.5rem;
}

.keyboard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.keyRow{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.keyRow button{
  margin: 0.4rem;
  padding: 0.2rem;
  font-size: x-large;
  font-weight: bold;
  width:4.6rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background: rgb(187, 184, 184);
}

.keyRow button:hover{
  background: grey;
  color: white;
}

#clear{
  background: rgb(4, 182, 4);
}

#delete{
  background: rgb(155, 0, 0);
  color: white;
}