.edu_base {
    width: 18rem;
    min-height: 25rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 1.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px purple;
    margin: 1rem;
    background: lightgray;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
}

.prog_OD {
    width: 10rem;
    height: 10rem;
    /* background: green; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px green;
    background: conic-gradient(Teal 15deg, grey 0deg);
}

.prog_ID {
    width: 7rem;
    height: 7rem;
    background: white;
    box-shadow: 0 0 8px rgb(95, 7, 41) inset;
    /* position: absolute; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prog_data {
    z-index: 10;
    position: absolute;
    font-size: 2rem;
    font-family: roboto;
}

.edu_class {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.edu_detail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}