.exp_card{
  box-sizing: border-box;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);
 
}

.exp_card:hover{
  box-shadow: 0 0 10px white;
}

.exp_card:nth-last-child(){
  margin-bottom: 1rem;
}

.title{
  margin: 0.5rem;
}

.comp_detail{
  margin: 1rem 0;
}

.joining{
  margin: 0.5rem 0;
}