.skillsBase{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.skill_list{
    flex-wrap: wrap;
    justify-content: center;
}


.skillsBase h2{
    margin-top: 1rem;
}




@media screen and (max-width: 786px) {
    .skillsBase{
        gap: 0.5rem;

    }
  

}