nav {
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.219);   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav:hover {
    box-shadow: 0 0 10px orange;
}


nav img {
    width: 4.5rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
}

.menubtn {
    display: none;
}

.closebtn {
    display: none;
}

.material-symbols-outlined {
    font-size: 2rem;
}

nav .navMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .navMenu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 1rem;
}

nav .navMenu ul li {
    padding: 0.2rem 0;
    margin: 0 0.4rem;
    transition: all 0.5s ease-in-out;
    border-bottom: 2px solid var(--teal);
}

nav .navMenu ul li:hover {
    border-bottom: 2px solid var(--myorange);
}

nav .navMenu ul a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

nav .navMenu ul a:hover {
    color: var(--myorange);
}

nav .navMenu ul a span {
    margin: 0 0.3rem;
}

/* Mobile View Css */

@media screen and (max-width:768px) {
    nav {
        min-height: 4.5rem;
    }

    nav img {
        width: 4.5rem;
        position: absolute;
        top: 0.5rem;
        left: 1rem;
    }

    .menubtn {
        display: block;
        cursor: pointer;
        transition: 5s ease-in;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: white;
    }

    .closebtn {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: white;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .navMenu {
        display: none;
        align-items: center;
    }

    nav .navMenu ul {
        margin-top: 3.5rem;
        display: block;
        list-style: none;
    }

    nav .navMenu ul li {
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
    }

    .navMenu {
        display: none;
        transition: 2s ease;
    }
}