.primeBase{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--teal);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    margin: 1rem 0;
}
.primeInput{
    margin: 1rem 0;
}
.primeInput label{
    display: block;
    text-align: center;    
}

.primeInput input{
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    height: 2rem;
    text-align: center;   
    outline: none;
}