.cardBody{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px grey ;
    transition: all 0.5s ease;
    min-width: 15rem;
    max-width: 18rem;
    max-height: 30rem;
    min-height: 30rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.card_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardBody:hover{
    box-shadow: 0 0 5px 2px  white ;  
}

.cardBody div img{
    background-color: transparent
}

div.cardBody img{
    width: 6rem;
    
}

.cardBody button{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}


@media screen and (max-width:768px) {

    
}

.cardBody ul{
    list-style:circle;
    list-style-position: inside;
}
.viewbtn a > span{
 color: white;
}