/* Desktop View code */
.homecontainer{ 
  
    color: white;
    padding: 3rem;
    height: 100vh;
   

}
.title{
    color: white;
}

.poster img{
    z-index: 10;
    width: 10rem;
    position: absolute;
    top: 8rem;
    right: 5rem;    
}






@media screen and (max-width:768px) {
    .homecontainer{
        display: flex;
        flex-direction: column;
        padding: 1rem 0.5rem;
        color: white;
    }

    .myHeading {
        font-family: lobster;
        color: white;  
        font-size: 3rem;     
    }

    .poster img{
        z-index: 10;
        width: 40%;
        position: absolute;
        top: 15rem;
        right: 1rem;     
    }
}





