:root{
  --text:white;
  --oddbg: grey;
  --evenbg: black;
  --orange:orange;

}


body {
  font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--evenbg);
  transition: all 0.5s ease-in-out;
}



button{
  cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}


