:root {
    --purple: #673de6;
    --bgcol: #e5e5e5;
    --mutetext: #727586;
    --newred: #fc5185;
    --myorange: #FCA311;
    --teal: #218380;
    --darkblue: #14213d;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-image: linear-gradient(45deg,  #00006d, #630163); */
    background-image: url(../src/Media/BG_Univ.jpg);
    color: white; 
    background-size: cover;
    background-position: center;
}

#root{
    background: rgba(0, 0, 0, 0.5);
}
